.card-hotline .list .item{
    padding:10px;
}
.card-hotline .list .item:hover {
    background-color: white;
    color:black;
}
.card-hotline .list .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    cursor: default;
}

.card-hotline .list .item .child {
    font-size: 17px;
    transition:all .5s;
    color: var(--primary);
    cursor: default;
}
.card-hotline .list .item .child .icon {
    font-size: 15px;;
    color:black;
    margin-right:10px;
}
.card-hotline .list .item .child b{
    color:black;
}
.card-hotline  .list .item:hover .child {
    color:white;
}
.card-hotline .child-txt a:hover{
    text-decoration: underline;
    
}
.card-hotline.card-list .list .item:hover a {
    color:var(--primary) !important;
}