
.footer {
  font-size: 14px;
  
}
.footer b {
  margin-right:5px;
}
.footer .icon {
  margin-right:5px;
}
.container-footer {
  display: flex;
  width: 100%;
  background-color: #f5f5f5;
  flex-direction: row;
  box-sizing: border-box;
  padding:10px;
  justify-content: space-around;
}
.col-footer {
  padding-right: 15px;
  padding-left: 15px;
}
.col-footer .header {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary);
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  
}
.col-footer .header a {
  text-decoration: none;
  color: var(--primary);
}
.col-footer .header a:hover {
  text-decoration: underline;
}
.footer ul {
  list-style: none;
  padding-inline-start: 0 !important;
}
.footer li {
  padding:10px;
  transition:all .3s;
  border-radius: 5px;
}
.footer li:hover {
  background-color: #ededed;
}
.footer .header {
  font-weight: 600;
}
.footer li b {
  color: var(--primary);
}
.footer .panel-body a {
  text-decoration: none;
  color: black;
}
.footer .panel-body a:hover {
  
}

@media only screen and (max-width: 720px) {
  .footer .container-footer {
    flex-direction: column;
  }
}