.news {
    width: 100%;
}
.news img {
    width:20%;
    height:150px;
}
.news .list {
    display: flex;
    flex-direction: column;
}
.news .list .item {
    align-items: flex-start;
}
.news .txt-frame {
    display: flex;
    flex-direction: column;
    margin-left:20px;
    width: 80%;
}
.news .date {
    margin:10px 0px;
    color: var(--primary)
}
.news .news-detail {
    margin:10px 0px;
    color: var(--primary);
    cursor: pointer;
}
.news .news-detail:hover {
    text-decoration: underline;
}
.news .txt-frame .icon {
    margin-right: 5px !important;
}
.news .txt-frame .title {
    font-size:20px;
    font-weight: 600;
    color: var(--primary)
}
.news .list .item:hover {
    background-color: white;
    color:black;
    cursor: default;
}